<div id="branding" class="col">
  <center>
    <h1><%= LinkConfig::BRANDING %></h1>

    <p id="code-url-display">
      <a href="<%= @url.full_code_url %>">
        <%= @url.full_code_url %>
      </a>
    </p>
      to
      <a href="<%= @url.dest %>">
        <%= @url.dest %>
      </a>
    </p>
  </center>
</div>
